* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(photos/6_folwer.png);
  background-repeat: no-repeat;
  background-position: 200% -150px;
  font-family: sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.logo {
  margin-left: 80px;
}

.menu span {
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
}
.buttons {
  margin-right: 100px;
}
.buttons img {
  padding: 0px 15px;
}
.content {
  margin-top: 100px;
  margin-left: 80px;
}
.heading {
  font-size: 140px;
  font-weight: bold;
}
.desc {
  font-size: 20px;
}
.content button {
  margin-top: 20px;
  padding: 15px 25px;
  background-color: rgb(51, 153, 102);
  font-size: 35px;
  border-radius: 35px;
  border: transparent;
  color: white;
}
.low {
  display: flex;
  margin-top: 60px;
  margin-left: 80px;
  gap: 30px;
}
.photo {
  float: left;
}
.description {
  float: right;
}
.t {
  font-size: 20px;
  font-weight: bold;
}
.text {
  font-size: 14px;
}
