* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: white;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.logo img {
  margin-left: 40px;
  width: 150px;
}
.menu span {
  padding: 10px 15px;
  font-size: 15px;
  color: darkslategray;
}
.contact button {
  font-size: 15px;
  color: aliceblue;
  background-color: rgb(110, 47, 237);
  padding: 10px 15px;
  border-radius: 10px;
  margin-right: 40px;
}
.item:nth-child(3) {
  margin-left: auto;
}
.item:nth-child(1) {
  margin-right: 120px;
  margin-left: 50px;
}
.menu span:nth-child(1) {
  font-weight: bold;
}
.content {
  display: flex;
  justify-content: space-between;
}
.left {
  margin-left: 90px;
  align-self: center;
  margin-bottom: 120px;
}
.large {
  font-size: 80px;
  color: rgb(0, 0, 102);
  line-height: 1;
  text-transform: capitalize;
}
.large span {
  color: rgb(110, 47, 237);
}
.small {
  padding: 35px 0px;
}
.services {
  font-size: 20px;
  color: aliceblue;
  background-color: rgb(110, 47, 237);
  padding: 20px 15px;
  border-radius: 10px;
}
.right img {
  position: relative;
  right: 0;
  bottom: 0;
}
